
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("color.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.loginBox{
  background-color: transparent;
  border: 2px solid rgba(225,225,225,0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 1rem;
  width: clamp(14rem, 65%, 20rem);
  height: fit-content;
  box-shadow: 4px 5px 14px 0px;
  border-radius: 20px;
}

h2{
  text-align: center;
  color: #efefef;
}

.inputBox{
  position: relative;
}

.inputBox input{
  width: 80%;
  height: 100%;
  padding: 7px 10px;
  margin-top: 1rem;
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  outline: none;
}

.inputBox input::placeholder{
  color: white;
  font-size: 1em;
}

.inputBox svg{
  position: absolute;
  right: 1rem;
  top: 72%;
  transform: translateY(-68%);
  color: white;
}

.rememberMe{
  display: flex;
  color: #fff;
  margin-top: 1em;
  justify-content: space-between;
  font-size: clamp(13px , 15px, 1rem);
}

.rememberMe a{
  color: #fff;
  text-decoration: none;
}

.rememberMe a:hover{
  text-decoration: underline;
  color: #000000;
  transition: all 0.50s ease;
}

.loginBox .btn{
  display: flex;
  justify-content: center;
  width: 15rem;
  padding: 8px;
  background-color: #efefef;
  border: none;
  outline: none;
  border-radius: 40px;
  margin: 5px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  color: black;
  font-weight: 600;
}

.btn:hover{
  width: 17rem;
  background-color: skyblue;
  transition: all 1s ease;
}

.registerLink{
  margin-top: 10px;
  text-align: center;
  font-size: 1rem;
}

.registerLink p{
  color: #fff;
  font-size: clamp(13px , 15px, 1rem);
}

.registerLink p a{
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.registerLink p a:hover{
  text-decoration: underline;
  color: #000000;
  transition: all 0.50s ease;
}
